$sideBarWidth: 350px;

//===reset
* {
	margin: 0;
	padding: 0;
   box-sizing: border-box;
   &:after,
   &:before {
      box-sizing: border-box;
   }
}

ul {
	list-style: none;
	margin-bottom: 0;
}

a {
	display: inline-block;
}

//===map
#app {
	padding-left: $sideBarWidth;
}

#map {
   width: 100%;
   height: 100vh;
}

.leaflet-popup-content > * {
   font-size: 15px;
}

.leaflet-popup-content p {
   margin: 5px 0;
}

//===sideBar
.sideBar {
   position: fixed;
   left: 0;
   top: 0;
   width: $sideBarWidth;
   height: 100vh;
   background-color: #fff;
   z-index: 2;
   >.topBox {
      height: 195px;
      padding: 15px 15px 10px;
   }
   >.listBox {
      height: calc(100vh - 195px);
      overflow: auto;
   }
}

//===select
.cityBox {
   margin-bottom: 15px;
   >.city-select {
      margin-bottom: 15px;
   }
}

.tip {
   margin-top: 5px;
   margin-bottom: 0;
   font-size: 14px;
   line-height: 1;
   text-align: right;
   color: red;
}

//===list
.pharmacyList {
   padding: 15px;
   border-bottom: 1px solid #ddd;
   cursor: pointer;
   &:last-child {
      margin-bottom: 0;
      border-bottom: none;
   }
   &.active {
      background-color: #e9ffe3;
   }
   &.disabled {
      background-color: lightgray;
   }
   >* {
      margin-bottom: 8px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   >h3 {
      font-size: 25px;
   }
   a {
      text-decoration: underline;
   }
}

@media (max-width: 768px) {
   #app {
	   padding-left: 0;
   }
   #map {
      display: none;
   }
   .sideBar {
      position: static;
      width: 100%;
   }
}